h1 {
    font-family: 'Krona One', sans-serif;
    color:black;
}

div {
    font-family: Arial, Helvetica, sans-serif;
    color: brown  ;
}

p {
font-family: 'Times New Roman', Times, serif;
color: tomato;
}

table,td,th{
    margin: auto;
color: black;
border: black solid 2px;
}