

body {
  background-color: beige;
}



h1 {
  font-family: 'Itim', cursive;    color:brown;
  text-align: center;
}

div {
  font-family: Arial, Helvetica, sans-serif;
  color: indianred  ;
  margin: 50px;
  font-size: large;
  }

p {
font-family: 'Times New Roman', Times, serif;
color: lightcoral;
}    
img {
  float: inline-start;
  width: 350px;
}
li {
  font-size: medium;
  color: tomato;
}
table,
td
 {
  border: 1px solid black;
}
